a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #ffffff;
    font-size: 1.5rem;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid white;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    background-color: #8B4513
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #1861ac;
    border-color: #1861ac;
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #343a40;
    }

    .navbar-toggler {
        border-color: #ffffff;
    }
}
