@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url('https://png.pngtree.com/background/20230611/original/pngtree-an-old-cabin-in-the-middle-of-a-forest-picture-image_3141657.jpg') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif; 
    }

    .display-4 {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px; 
    }

    p {
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 10px;
        padding: 10px; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DO NOT Learn about building Web apps with ASP.NET Core.</p>
</div>
